<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Denise </h1>
    <p>
      Sample mail sent using smtp.

      Your total skill are: <%= @apprentice_evaluation.skill_total %>
    </p>
  </body>
</html>
